<div class="page-content position-relative">
  <!-- Navbar menu -->
  <nav class="navbar-menu">
    <a class="website-name" [routerLink]="['home']">Aphamea</a>
    <div class="nav-right-side d-flex">
      <ul class="navbar-links">
        <li>
          <a [routerLink]="['home']" routerLinkActive="active-link" class="link"
            >Home
          </a>
        </li>
        <li>
          <a
            [routerLink]="['products']"
            routerLinkActive="active-link"
            class="link"
            >our products</a
          >
        </li>
        <li>
          <a
            [routerLink]="['about']"
            routerLinkActive="active-link"
            class="link"
            >about</a
          >
        </li>
        <li>
          <a
            [routerLink]="['contacts']"
            routerLinkActive="active-link"
            class="link"
            >contacts</a
          >
        </li>
        <li>
          <a
            [routerLink]="['events']"
            routerLinkActive="active-link"
            class="link"
            >Events</a
          >
        </li>
      </ul>
      <div class="user-profile">
        <div
          class="dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            class="user-img"
            src="{{
              userDetails.userImage || '../../../assets/images/avatar-default.jpg'
            }}"
          />
        </div>
        <ul class="dropdown-menu profile-dropdown p-2">
          <div class="d-flex align-items-center mb-2">
            <img
              class="user-img"
              src="{{
                userDetails.userImage || '../../../assets/images/avatar-default.jpg'
              }}"
            />
            <div class="user-info">
              <h3>{{ userDetails.firstName || "User Name" }}</h3>
              <!-- Button trigger modal -->
              <span data-bs-toggle="modal" data-bs-target="#exampleModal"
                >view profile</span
              >
            </div>
          </div>
          <li><a class="dropdown-item">Action</a></li>
          <li><a class="dropdown-item">Another action</a></li>
          <li><a class="dropdown-item">Something else here</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item logout-btn" (click)="onLogOut()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="navbar-icon"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <span class="icon-lines"></span>
    </div>
  </nav>

  <!-- Modal For View Profile -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Info</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userInfoForm">
            <!-- Image Select -->
            <div class="file-input row mb-3">
              <input
                type="file"
                name="file-input"
                id="file-input"
                class="file-input__input"
                (change)="processFile($event)"
              />
              <label class="file-input__label" for="file-input">
                <div class="user-img">
                  <img
                    src="{{
                      userDetails.userImage ||
                        '../../../assets/images/avatar-default.jpg'
                    }}"
                  />
                  <i class="bi bi-plus"></i>
                </div>
              </label>
            </div>
            <!-- FirstName -->
            <div class="w-100 mb-3">
              <input
                type="text"
                formControlName="firstName"
                class="form-control"
                placeholder="FirstName"
              />
              <div
                class="text-danger form-text fw-bold mx-1 float-start"
                *ngIf="
                  !userInfoForm.get('firstName')?.valid &&
                  userInfoForm.get('firstName')?.touched
                "
              >
                <span *ngIf="userInfoF['firstName'].errors?.['required']">
                  firstName is required</span
                >
                <span *ngIf="userInfoF['firstName'].errors?.['maxlength']">
                  maximum must be (
                  <span class="fs-15">
                    {{userInfoF['firstName'].errors?.['maxlength']?.['requiredLength']}}</span
                  >
                  ) letters At Most!
                </span>
              </div>
            </div>
            <!-- LastName -->
            <div class="w-100 mb-3">
              <input
                type="text"
                formControlName="lastName"
                class="form-control"
                placeholder="lastName"
              />
              <div
                class="text-danger form-text fw-bold mx-1 float-start"
                *ngIf="
                  !userInfoForm.get('lastName')?.valid &&
                  userInfoForm.get('lastName')?.touched
                "
              >
                <span *ngIf="userInfoF['lastName'].errors?.['required']">
                  lastName is required</span
                >
                <span *ngIf="userInfoF['lastName'].errors?.['maxlength']">
                  maximum must be (
                  <span class="fs-15">
                    {{userInfoF['lastName'].errors?.['maxlength']?.['requiredLength']}}</span
                  >
                  ) letters At Most!
                </span>
              </div>
            </div>
            <!-- Email -->
            <div class="w-100">
              <input
                type="email"
                formControlName="email"
                name="email"
                class="form-control"
                placeholder="Email"
              />
              <div
                class="text-danger form-text fw-bold mx-1 float-start"
                *ngIf="
                  !userInfoForm.get('email')?.valid &&
                  userInfoForm.get('email')?.touched
                "
              >
                <span *ngIf="userInfoF['email'].errors?.['required']">
                  Email is required</span
                >
                <span *ngIf="userInfoF['email'].errors?.['email']">
                  must be a valid email
                </span>
              </div>
            </div>
            <!-- Role -->
            <label for="inputRole" class="form-label">Role</label>
            <select id="inputRole" class="form-select" formControlName="role">
              <option selected>Choose...</option>
              <option *ngFor="let role of roles; let i = index" [value]="i">
                {{ role }}
              </option>
            </select>
            <!--Region & City & Country  -->
            <div class="d-flex mt-3">
              <!-- Region -->
              <label for="inputRegion" class="form-label me-2">Region</label>
              <select
                id="inputRegion"
                class="form-select"
                formControlName="region"
              >
                <option selected>Choose...</option>
                <option>m</option>
                <option>m</option>
                <option>m</option>
                <option>m</option>
              </select>

              <!-- City -->
              <label for="inputCity" class="form-label ms-2 me-2">City</label>
              <select id="inputCity" class="form-select" formControlName="city">
                <option selected>Choose...</option>
                <option>m</option>
                <option>m</option>
                <option>m</option>
                <option>m</option>
              </select>

              <!-- Country -->
              <label for="inputCountry" class="form-label ms-2 me-2"
                >Country</label
              >
              <select
                id="inputCountry"
                class="form-select"
                formControlName="country"
              >
                <option selected>Choose...</option>
                <option>m</option>
                <option>m</option>
                <option>m</option>
                <option>m</option>
              </select>
            </div>
            <!-- Special Mark-->
            <div class="row mt-3">
              <label for="inputSpecialMark" class="col-form-label label"
                >SpecialMark:</label
              >
              <input
                type="text"
                class="form-control"
                id="inputSpecialMark"
                placeholder="SpecialMark"
                formControlName="specialMark"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
          data-bs-dismiss="modal"
            type="button"
            class="btn btn-primary"
            (click)="onUpdateUser()"
          >
            Update User
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">
        Aphamea Company
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div class="user-profile">
        <div class="user-img">
          <img
            src="{{
              userDetails.userImage || '../../../assets/images/avatar-default.jpg'
            }}"
          />
        </div>
        <div>
          <h3>{{ userDetails.firstName || "User Name" }}</h3>
          <span
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            style="cursor: pointer"
            >View Profile</span
          >
        </div>
      </div>
      <ul
        class="d-flex flex-column border-0"
        aria-labelledby="dropdownMenuButton"
      >
        <li><a class="link" routerLink="home">home</a></li>
        <li><a class="link" routerLink="about">about</a></li>
        <li><a class="link" routerLink="contacts">contacts</a></li>
        <li><a class="link" routerLink="products">products</a></li>
        <li style="cursor: pointer">
          <a class="dropdown-item logout-btn" (click)="onLogOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Pages Content -->

  <div class="page-content-container">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->

  <footer class="footer-section mt-3">
    <div class="container f-container">
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget footer-heading">
              <div class="footer-logo">
                <a [routerLink]="['home']"
                  ><img
                    src="../../../assets/images/logo-aphamea-3.png"
                    class="img-fluid"
                    alt="logo"
                /></a>
              </div>
              <div class="footer-text">
                <p>
                  Today there are thousands of drugs on the market able to
                  prevent, treat and lessen the impact of ailments that would
                  have been fatal just a few generations ago. At the same time,
                  antimicrobial resistance is challenging the effectiveness of
                  many commonly used medicines in one of the most concerning
                  threats to global health today.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Useful Links</h3>
              </div>
              <ul class="useful-links">
                <li>
                  <a routerLinkActive="active-link" [routerLink]="['home']"
                    >Home</a
                  >
                </li>
                <li>
                  <a routerLinkActive="active-link" [routerLink]="['about']"
                    >about</a
                  >
                </li>
                <li><a>services</a></li>
                <li><a>portfolio</a></li>
                <li><a>Contact</a></li>
                <li><a>About us</a></li>
                <li><a>Our Services</a></li>
                <li><a>Expert Team</a></li>
                <li><a>Contact us</a></li>
                <li><a>Latest News</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Subscribe</h3>
              </div>
              <div class="footer-text mb-25">
                <p>
                  Don’t miss to subscribe to our new feeds, kindly fill the form
                  below.
                </p>
              </div>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email" />
                <span>
                  <i class="bi bi-envelope"></i>
                </span>
              </div>
              <button class="btn btn-primary mt-3">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>
                Copyright &copy; {{ currentYear }}, All Right Reserved
                <a [routerLink]="['home']">Aphamea</a>
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a [routerLink]="['home']">Home</a></li>
                <li><a>Terms</a></li>
                <li><a>Privacy</a></li>
                <li><a>Policy</a></li>
                <li><a>Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Back To Top Button -->

  <div
    class="circle-to-top"
    [ngClass]="{ 'show-scrollTop': windowScrolled }"
    (click)="scrollToTop()"
  >
    <i class="bi bi-chevron-up"></i>
  </div>
</div>
