<div class="container">
  <div class="product-card">
    <div class="image-container">
      <div class="cover-image product-image">
        <img [src]="imgFirst" alt="" />
      </div>
      <div
        class="more-image-container"
        *ngFor="let img of medicine?.imgs; let i = index"
      >
        <div class="more-image product-image">
          <img [src]="img[i]" alt="" />
        </div>
        <div class="more-image product-image">
          <img [src]="imgFirst" alt="" />
        </div>
        <div class="more-image product-image">
          <img [src]="imgFirst" alt="" />
        </div>
      </div>
    </div>
    <div class="product-info">
      <a href="#" class="free-shipping">medicine</a>
      <h3 class="product-name">{{ medicine?.productName }}</h3>
      <p class="discount-price">Price: {{ medicine?.price }}$</p>
      <br />
      <p class="discount-price">netPrice: {{ medicine?.netPrice }}$</p>
      <br />
      <p class="discount-price">Packing: {{ medicine?.packing }}</p>
      <br />
      <p class="offer-info">indications: {{ medicine?.indications }}</p>
      <p class="offer-info">composition: {{ medicine?.composition }}</p>
      <p class="offer-info" *ngFor="let pharm of medicine?.pharmaceuticalForms">
        pharmaceuticalForm: {{ pharm.name }}
      </p>
      <p class="offer-info" *ngFor="let cate of medicine?.categories">
        Category:{{ cate.name }}
      </p>
      <!-- <a href="#" class="add-to-cart">
        Add to cart
      </a> -->
      <div class="stock">
        <div class="stock-status"></div>
        <p class="stock-info">
          expired Date: {{ medicine?.expiredDate | date: "longDate" }}
        </p>
      </div>
      <!-- <div class="buttons">
        <a href="#" class="button">
         Add to cart
        </a>
        <a href="#" class="button">
           Add to wishlist
        </a>
      </div> -->
    </div>
  </div>
</div>
