<div class="container">
  <div class="product-card">
    <div class="image-container">
      <div class="cover-image product-image">
        <img [src]="imgFirst" alt="" />
      </div>
      <div
        class="more-image-container"

      >
        <div class="more-image product-image "*ngFor="let img of medicine?.imgs; let i = index">
          <img [src]="img" alt="" />
        </div>
        <div class="more-image product-image">
          <img [src]="imgFirst" alt="" />
        </div>
        <div class="more-image product-image">
          <img [src]="imgFirst" alt="" />
        </div>
      </div>
    </div>
    <div class="product-info">
      <h6 class="product-name">{{ medicine?.productName }}</h6>
      <p class="discount-price">Price: {{ medicine?.price }}$</p>
      <br />
      <p class="discount-price">netPrice: {{ medicine?.netPrice }}$</p>
      <br />
      <p class="discount-price">Packing: {{ medicine?.packing }}</p>
      <br />
       <div>
        indications:
        <p class="offer-info">{{ medicine?.indications }}</p>
       </div>
       <div>
        composition:
        <p class="offer-info">{{ medicine?.composition }}</p>
       </div>
       <div>
        indications:  pharmaceuticalForm:
        <p class="offer-info" *ngFor="let pharm of medicine?.pharmaceuticalForms">
          {{ pharm.name }}
        </p>
       </div>
       <div>
        Category:
        <p class="offer-info" *ngFor="let cate of medicine?.categories">
          {{ cate.name }}
        </p>
       </div>
      <div class="stock">
        <div class="stock-status"></div>
        <p class="stock-info">
          expired Date: {{ medicine?.expiredDate }}Years
        </p>
      </div>

    </div>
  </div>
</div>
