<div class="company-details-page">
  <div class="container">
    <div class="row">
      <div class="section background-section">
        <div class="svg-side col-md-6 col-sm-12">
          <ng-lottie [options]="team"></ng-lottie>
        </div>
        <div class="info-side col-md-6 col-sm-12">
          <div class="section-title">
            <span class="title-tag">about us</span>
            <h2 class="title">Professional Business Guidance Agency</h2>
          </div>

          <p class="section-info">
            {{ companyInfo?.description }}
          </p>
        </div>
      </div>
      <div class="section background-section section-revert">
        <div class="info-side col-md-6 col-sm-12">
          <div class="section-title">
            <span class="title-tag">Meet Our Advisors</span>
            <h2 class="title">We Have An Exclusive Team Member</h2>
          </div>

          <p class="section-info">
            we reach up to
            <span>+{{ companyInfo?.numOfEmployee }} </span>Employees
          </p>
        </div>
        <div class="svg-side col-md-6 col-sm-12">
          <ng-lottie [options]="aboutUs"></ng-lottie>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- About -->
      <div id="about" class="basic-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2>About The Team</h2>
              <p class="p-heading p-large">
                Meat our team of specialized marketers and business developers
                which will help you research new products and launch them in new
                emerging markets
              </p>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
          <div class="row">
            <div class="team-all">
              <!-- Team Member -->
              <div
                class="team-member"
                *ngFor="let team of companyInfo?.companyTeams"
              >
                <div class="image-wrapper">
                  <img
                    class="img-fluid"
                    src="../../../../assets/images/team-member-1.svg"
                    alt="alternative"
                  />
                </div>
                <!-- end of image-wrapper -->
                <p class="p-large"><strong>{{ team.name? team.name :'Lacy Whitelong' }}</strong></p>
                <p class="job-title">{{ team.position }}</p>
                <p class="job-title">{{ team.description}}</p>
                <span class="social-icons">
                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </span>
                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="bi bi-twitter"></i>
                    </a>
                  </span>
                </span>
                <!-- end of social-icons -->
              </div>
              <!-- end of team-member -->

              <!-- Team Member -->
              <div class="team-member">
                <div class="image-wrapper">
                  <img
                    class="img-fluid"
                    src="../../../../assets/images/team-member-2.svg"
                    alt="alternative"
                  />
                </div>
                <!-- end of image wrapper -->
                <p class="p-large"><strong>Chris Brown</strong></p>
                <p class="job-title">Online Marketer</p>
                <p class="job-title">dtugfd Markr manger</p>
                <span class="social-icons">
                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </span>
                  <span class="fa-stack">
                    <a href="#your-link">
                      <i class="bi bi-twitter"></i>
                    </a>
                  </span>
                </span>
                <!-- end of social-icons -->
              </div>
              <!-- end of team-member -->
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </div>
      <!-- end of basic-4 -->
      <!-- end of about -->
    </div>
  </div>
</div>
