<div class="company-details-page">
  <div class="container">
    <div class="row">
      <div class="section background-section">
        <div class="svg-side col-md-6 col-sm-12">
          <ng-lottie [options]="team"></ng-lottie>
        </div>
        <div class="info-side col-md-6 col-sm-12">
          <div class="section-title">
            <span class="title-tag">about us</span>
            <h2 class="title">Professional Business Guidance Agency</h2>
          </div>

          <p class="section-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit quibusdam voluptatum similique tempora iusto, eligendi
            autem, fugiat molestias ut rem quis? Officiis vero optio iste, ipsa
            sit veniam voluptas earum.
          </p>
        </div>
      </div>
      <div class="section background-section section-revert">
        <div class="info-side col-md-6 col-sm-12">
          <div class="section-title">
            <span class="title-tag">Meet Our Advisors</span>
            <h2 class="title">We Have An Exclusive Team Member</h2>
          </div>

          <p class="section-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit quibusdam voluptatum similique tempora iusto, eligendi
            autem, fugiat molestias ut rem quis? Officiis vero optio iste, ipsa
            sit veniam voluptas earum.
          </p>
        </div>
        <div class="svg-side col-md-6 col-sm-12">
          <ng-lottie [options]="aboutUs"></ng-lottie>
        </div>
      </div>
    </div>
  </div>
</div>
