<!-- landing section -->

<div class="landing position-relative">
  <swiper
    [centeredSlides]="true"
    [speed]="1000"
    [loop]="true"
    [spaceBetween]="0"
    [autoplay]="{
      delay: 5000,
      disableOnInteraction: false
    }"
    class="mySwiper"
  >
    <ng-template *ngFor="let slide of [1, 2, 3]" swiperSlide>
      <div class="banner-shapes">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <img src="./../../../../assets/images/slick{{ slide }}.jpg"
    /></ng-template>
  </swiper>

  <ngx-typed-js
    [loop]="true"
    [typeSpeed]="100"
    [smartBackspace]="true"
    [backSpeed]="50"
    [showCursor]="true"
    [strings]="['Energy.', 'patience.', 'Success.', 'health.']"
    class="landing-typed-string"
  >
    <h5 class="promo-text">Confidence and Efficiency</h5>
    <h1 class="fw-bold">aphamea company&reg;</h1>
    <span class="typing"></span>
  </ngx-typed-js>
</div>

<!-- offer cards section -->

<div class="container">
  <div class="section">
    <div class="head-section">
      <h2 class="main-title">Offers</h2>
    </div>
    <swiper
      [effect]="'coverflow'"
      [grabCursor]="true"
      [centeredSlides]="true"
      [slidesPerView]="'auto'"
      [initialSlide]="0"
      [lazy]="true"
      [coverflowEffect]="{
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }"
      [pagination]="true"
      class="mySwiper cards-swiper"
    >
      <ng-template
        class="card-swiper"
        *ngFor="let offerItem of offerAll; let i = index"
        swiperSlide
      >
        <div class="cards-container">
          <div class="offer-card">
            <div class="contentBx">
              <h2 class="mb-3">{{ offerItem?.name }}</h2>
              <div class="size">
                <h3 class="my-2">order Count :</h3>
                <span>
                  {{
                    offerItem?.orderCount == null ? "0" : offerItem?.orderCount
                  }}</span
                >
                <!-- <span>8</span>
                <span>9</span>
                <span>10</span> -->
              </div>
              <div class="color">
                <h3 class="my-2">
                 expireDate : {{ offerItem?.creationDate }} Years
                </h3>
                <!-- <span>1</span>
                <span>2</span>
                <span>3</span> -->
              </div>
              <div class="color">
                <h3 class="my-2">offer Status :</h3>
                <span
                  >{{ offerItem?.offerStatus === 0 ? "Active" : "Not Active" }}
                </span>
                <!-- <span>2</span>
                <span>3</span> -->
              </div>
              <button
                class="btn-primary custom-btn my-2 mx-auto"
                data-bs-toggle="modal"
                data-bs-target="#offerDetailsModal"
              >
                <span (click)="displayOfferDetails(i)" class="pe-1"
                  >Find out</span
                >
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>

<!-- articles section -->

<div class="container">
  <div class="section">
    <div class="head-section">
      <h2 class="main-title">Articales</h2>
    </div>
    <swiper
      [slidesPerView]="articleAll?.length"
      [spaceBetween]="20"
      [slidesPerGroup]="articleAll?.length"
      [loop]="true"
      [loopFillGroupWithBlank]="true"
      [pagination]="{
        clickable: true
      }"
      [navigation]="true"
      class="mySwiper freeMode-swiper-control"
    >
      <ng-template
        class="freeMode-slider"
        *ngFor="let article of articleAll; let i = index"
        swiperSlide
      >
        <div>
          <a
            class="artical-card mb-3"
            [style.background-image]="'url(' + article.imgs[0] + ')'"
            (click)="onArticle(i)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            <div>
              <h1>{{ article?.type == 1 ? "Article" : "ads" }}</h1>
              <p>Click for Watch Content the Article.</p>
              <div class="date">
                {{ article?.publishedDate }}
              </div>
            </div>
          </a>
        </div>
      </ng-template>
    </swiper>
    <!-- offer details modal -->
    <div
      class="modal fade"
      id="offerDetailsModal"
      tabindex="-1"
      aria-labelledby="offerDetailsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered offer-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="offerDetailsModalLabel">
              {{ offer?.name }} details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <table class="table offer-table table-sm table-responsive">
              <thead>
                <tr>
                  <th scope="col">medicine name</th>
                  <th scope="col">public price</th>
                  <th scope="col">net price</th>
                  <th scope="col">quantity</th>
                  <th scope="col">extra quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of offerDetails">
                  <td>{{ item.medicineName }}</td>
                  <td>{{ item.medicinePrice }}</td>
                  <td>{{ item.medicineNetPrice }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.extraQuantity }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <!-- <button type="submit" class="btn btn-primary">Send</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- article details modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="staticBackdropLabel">Article</h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <swiper
              [slidesPerView]="articleImg?.length"
              [spaceBetween]="20"
              [slidesPerGroup]="articleImg?.length"
              [loop]="true"
              [loopFillGroupWithBlank]="true"
              [pagination]="{
                clickable: true
              }"
              [navigation]="true"
              class="mySwiper freeMode-swiper-control"
            >
              <ng-template
                class="freeMode-slider"
                *ngFor="let img of articleImg; let i = index"
                swiperSlide
              >
                <div>
                  <a
                    class="artical-card  mb-3 articleImg"
                    [style.background-image]="'url(' + img + ')'"
                    (click)="onArticle(i)"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                  >
                  </a>
                </div>
              </ng-template>
            </swiper>

           <p> {{ articleContent }}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
