.go-back-btn {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    z-index: 1;
    position: absolute;
    bottom: 150px;
    right: 25%;
    font-size: 30px;
    font-weight: bold;
  }
  