<div
  class="container"
  [ngClass]="toggleLoginActive ? 'left-panel-active' : 'right-panel-active'"
>
  <!-- !!Form for signup -->
  <div class="form-container sign-up-container">
    <form
      *ngIf="!toggleCompleteInfoForm"
      [formGroup]="signupForm"
      class="px-1 px-sm-2 px-md-3 px-lg-5"
      (ngSubmit)="onSignup(signupForm)"
    >
      <h3>Create New Account</h3>
      <!-- FirstName -->
      <div class="w-100 my-3">
        <input
          type="text"
          formControlName="firstName"
          class="form-control"
          placeholder="FirstName"
        />
        <div
          class="text-danger form-text fw-bold mx-1 float-start"
          *ngIf="
            !signupForm.get('firstName')?.valid &&
            signupForm.get('firstName')?.touched
          "
        >
          <span *ngIf="signupF['firstName'].errors?.['required']">
            firstName is required</span
          >
          <span *ngIf="signupF['firstName'].errors?.['maxlength']">
            maximum must be (
            <span class="fs-15">
              {{signupF['firstName'].errors?.['maxlength']?.['requiredLength']}}</span
            >
            ) letters At Most!
          </span>
        </div>
      </div>
      <!-- LastName -->
      <div class="w-100 my-3">
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          placeholder="lastName"
        />
        <div
          class="text-danger form-text fw-bold mx-1 float-start"
          *ngIf="
            !signupForm.get('lastName')?.valid &&
            signupForm.get('lastName')?.touched
          "
        >
          <span *ngIf="signupF['lastName'].errors?.['required']">
            lastName is required</span
          >
          <span *ngIf="signupF['lastName'].errors?.['maxlength']">
            maximum must be (
            <span class="fs-15">
              {{signupF['lastName'].errors?.['maxlength']?.['requiredLength']}}</span
            >
            ) letters At Most!
          </span>
        </div>
      </div>
      <!-- Email -->
      <div class="w-100 mb-3">
        <input
          type="email"
          formControlName="email"
          name="email"
          class="form-control"
          placeholder="Email"
        />
        <div
          class="text-danger form-text fw-bold mx-1 float-start"
          *ngIf="
            !signupForm.get('email')?.valid && signupForm.get('email')?.touched
          "
        >
          <span *ngIf="signupF['email'].errors?.['required']">
            Email is required</span
          >
          <span *ngIf="signupF['email'].errors?.['email']">
            must be a valid email
          </span>
        </div>
      </div>
      `<!-- Password -->
      <div class="w-100 mb-3">
        <input
          type="password"
          formControlName="password"
          name="password"
          class="form-control"
          placeholder="Password"
        />
        <div
          class="text-danger form-text fw-bold mx-1 float-start"
          *ngIf="!signupF['password'].valid && signupF['password'].touched"
        >
          <span *ngIf="signupF['password'].errors?.['required']">
            Password is required</span
          >
          <span *ngIf="signupF['password'].errors?.['maxlength']">
            maximum must be (
            <span class="fs-15">
              {{signupF['password'].errors?.['maxlength']?.['requiredLength'] }}</span
            >
            ) letters At Most!
          </span>
          <span *ngIf="signupF['password'].errors?.['minlength']">
            minimum must be (
            <span class="fs-15">
              {{signupF['password'].errors?.['minlength']?.['requiredLength'] }}</span
            >
            ) letters At Least!
          </span>
        </div>
      </div>
      <!-- Confirm Password -->
      <div class="w-100 mb-3">
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          placeholder="confirmPassword"
        />
        <div
          class="text-danger form-text fw-bold mx-1 float-start"
          *ngIf="
            !signupForm.get('confirmPassword')?.valid &&
            signupForm.get('confirmPassword')?.touched
          "
        >
          <div *ngIf="signupF['confirmPassword'].errors?.['required']">
            Confirm Password is required
          </div>
          <div *ngIf="signupF['confirmPassword'].errors?.['mustMatch']">
            Passwords must match
          </div>
        </div>
      </div>
      <button
        class="submit-btn sign-btn"
        type="submit"
        [disabled]="!signupForm.valid"
        [style.opacity]="!signupForm.valid ? '0.7' : '1'"
      >
        Next
      </button>
      <!-- Start Loading Spinner During Authentication Validation -->
      <div *ngIf="isLoading" class="lds-ripple mt-3">
        <div></div>
        <div></div>
      </div>
      <!-- End Loading Spinner During Authentication Validation -->
    </form>
    <!-- !!Form for save User Info Form-->
    <form
      *ngIf="toggleCompleteInfoForm"
      [formGroup]="saveUserInfoForm"
      #form
      class="px-1 px-sm-2 px-md-3 px-lg-5"
      (ngSubmit)="
        onSaveInfo(
          signupForm.get('email')?.value,
          signupForm.get('password')?.value
        )
      "
    >
      <!-- Image Select -->
      <div class="file-input row mb-3">
        <input
          type="file"
          name="file-input"
          id="file-input"
          formControlName="img"
          class="file-input__input"
        />
        <label class="file-input__label" for="file-input">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="upload"
            class="svg-inline--fa fa-upload fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
            ></path>
          </svg>
          <span>Select Image Profile</span></label
        >
      </div>

      <!-- Role -->
      <label for="inputRole" class="form-label">Role</label>
      <select id="inputRole" class="form-select" formControlName="role">
        <option selected>Choose...</option>
        <option>m</option>
        <option>m</option>
        <option>m</option>
        <option>m</option>
      </select>
      <!--Region & City & Country  -->
      <div class="mt-3">Position:</div>
      <div class="d-flex mt-3">
        <!-- Region -->
        <label for="inputRegion" class="form-label me-2">Region</label>
        <select id="inputRegion" class="form-select" formControlName="region">
          <option selected>Choose...</option>
          <option>m</option>
          <option>m</option>
          <option>m</option>
          <option>m</option>
        </select>

        <!-- City -->
        <label for="inputCity" class="form-label ms-2 me-2">City</label>
        <select id="inputCity" class="form-select" formControlName="city">
          <option selected>Choose...</option>
          <option>m</option>
          <option>m</option>
          <option>m</option>
          <option>m</option>
        </select>

        <!-- Country -->
        <label for="inputCountry" class="form-label ms-2 me-2">Country</label>
        <select id="inputCountry" class="form-select" formControlName="country">
          <option selected>Choose...</option>
          <option>m</option>
          <option>m</option>
          <option>m</option>
          <option>m</option>
        </select>
      </div>
      <!-- Special Mark-->
      <div class="row mt-3">
        <label for="inputSpecialMark" class="col-form-label label"
          >SpecialMark:</label
        >
        <input
          type="text"
          class="form-control"
          id="inputSpecialMark"
          placeholder="SpecialMark"
          formControlName="specialMark"
        />
      </div>
      <button
        class="submit-btn sign-btn mt-5"
        type="submit"
        [disabled]="!saveUserInfoForm.valid"
        [style.opacity]="!saveUserInfoForm.valid ? '0.7' : '1'"
      >
        SignUp
      </button>
      <!-- Start Loading Spinner During Authentication Validation -->
      <div *ngIf="isLoading" class="lds-ripple mt-3">
        <div></div>
        <div></div>
      </div>
      <!-- End Loading Spinner During Authentication Validation -->
    </form>
  </div>

  <!-- !!Form for login -->
  <div class="form-container login-in-container">
    <form
      [formGroup]="loginForm"
      class="px-1 px-sm-2 px-md-3 px-lg-5"
      (ngSubmit)="
        onLogin(loginForm.get('email')?.value, loginForm.get('password')?.value)
      "
    >
      <h2>Login</h2>

      <!--social media  -->
      <!-- <div class="social-container d-flex">
        <a (click)="signinWithFacbook()" class="social"><i class="bi bi-facebook"></i></a>
        <a (click)="signinGoogle()"><img src="../assets/images/google.svg"/></a>
      </div>
      <span class="mb-2">or use your account</span> -->

      <div class="w-100 mb-3">
        <input
          type="email"
          formControlName="email"
          name="email"
          class="form-control"
          placeholder="Email"
        />
        <div
          class="text-danger form-text fw-bold mx-1 float-start"
          *ngIf="
            !loginForm.get('email')?.valid && loginForm.get('email')?.touched
          "
        >
          <span *ngIf="loginF['email'].errors?.['required']">
            Email is required</span
          >
          <span *ngIf="loginF['email'].errors?.['email']">
            must be a valid email
          </span>
        </div>
      </div>

      <div class="w-100 mb-3">
        <input
          type="password"
          formControlName="password"
          name="password"
          class="form-control"
          placeholder="Password"
        />
        <div
          class="text-danger form-text fw-bold mx-1 float-start"
          *ngIf="
            !loginForm.get('password')?.valid &&
            loginForm.get('password')?.touched
          "
        >
          <span *ngIf="loginF['password'].errors?.['required']">
            Password is required</span
          >
          <span *ngIf="loginF['password'].errors?.['maxlength']">
            maximum must be (
            <span class="fs-15">
              {{loginF['password'].errors?.['maxlength']?.['requiredLength'] }}</span
            >
            ) letters At Most!
          </span>
          <span *ngIf="loginF['password'].errors?.['minlength']">
            minimum must be (
            <span class="fs-15">
              {{loginF['password'].errors?.['minlength']?.['requiredLength'] }}</span
            >
            ) letters At Least!
          </span>
        </div>
      </div>

      <a
        class="forgot-pass-link"
        data-bs-toggle="modal"
        data-bs-target="#resetPasswordModal"
        >Forgot your password?</a
      >
      <button
        class="submit-btn sign-btn"
        type="submit"
        [disabled]="!loginForm.valid"
        [style.opacity]="!loginForm.valid ? '0.7' : '1'"
      >
        Login
      </button>

      <!-- Start Loading Spinner During Authentication Validation From Angular.io-->
      <div *ngIf="isLoading" class="lds-dual-ring"></div>
      <!-- End Loading Spinner During Authentication Validation From Angular.io-->
    </form>
  </div>

  <!-- !!Control display login or signup -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left px-1 px-sm-2 px-md-3 px-lg-5">
        <h3>Welcome Back!</h3>
        <p>
          if you have account keep connected with us please login with your
          personal info
        </p>
        <button
          class="ghost sign-btn"
          (click)="toggleLoginActive = !toggleLoginActive"
        >
          Login
        </button>
      </div>
      <div class="overlay-panel overlay-right px-1 px-sm-2 px-md-3 px-lg-5">
        <h3>Hey!</h3>
        <p>
          To get a new account, enter your personal details and start journey
          with us
        </p>
        <button
          class="ghost sign-btn"
          (click)="toggleLoginActive = !toggleLoginActive"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>

<!--!! Reset password modal -->
<div
  class="modal fade"
  id="resetPasswordModal"
  tabindex="-1"
  aria-labelledby="resetPasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPasswordModalLabel">Reset Password</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="resetPasswordForm" class="p-0">
        <!-- (ngSubmit)="onResetPassword(resetPasswordForm)" -->
        <div class="modal-body w-75 text-start">
          <div class="my-2">
            <label for="email" class="form-label">
              Please Give Us Your Email:
            </label>
            <input
              type="email"
              formControlName="email"
              name="email"
              class="form-control"
              placeholder="Email"
            />
            <div
              class="text-danger form-text fw-bold mx-1 float-start"
              *ngIf="
                !resetPasswordForm.get('email')?.valid &&
                resetPasswordForm.get('email')?.touched
              "
            >
              <span *ngIf="resetPasswordFormErrors?.['required']">
                Email is required</span
              >
              <span *ngIf="resetPasswordFormErrors?.['email']">
                must be a valid email
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer w-100">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!resetPasswordForm.valid"
            [style.opacity]="!resetPasswordForm.valid ? '0.7' : '1'"
            data-bs-dismiss="modal"
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
