$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$soft: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
p {
  margin: 12px 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
  width: 250px;
  height: 410px;
  background-color: #F4ECFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  margin-top: 70px;
}
.box-1 {
  width: 100%;
  min-height: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.box-1 svg {
  display: none;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.green {
  background-color: #ac9eff;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  display: none;
  border-radius: inherit;
  transition: 0.5s;
}
.box-1:hover .green {
  display: block;
}
.box-1:hover svg {
  display: block;
}
h3 {
  color: #33348e;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
}
.box-2 p {
  font-size: 1rem;
  color: #33348e;
  line-height: 30px;
  margin-bottom: 11px;
}
.shop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 15px;
}
button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}
button svg {
  margin-right: 5px;
}
button:first-of-type,button.second {
  font-size: 1rem;
  color: #33348e;
  margin-bottom: 5px;
}

button:last-of-type {
  font-size: 1rem;
  color: #33348e;
}
hr {
  border: 1px solid #33348e;
  margin-bottom: 10px;
}
// .card-foot {
//   display: flex;
//   align-items: center;
//   vertical-align: middle;
// }
.card-foot p {
  margin-top: 5px;
}
span {
  color: #33348e;
}
h3:hover,
span:hover {
  transition: 0.5s;
  color: #ac9eff;
}
@media only screen and (max-width: 700px) {
  .card {
    margin: 20px;
    height: 70vh;
  }
}


// Search Section

.container-search  {
  position: absolute;
  margin: auto 0;
  top: 80px;
  right: 25px;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #33348e;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #33348e;
    color: white;
    text-shadow: 0 0 10px #33348e;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #33348e,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}
.select{
  display: flex;
  margin-top: 100px;
  align-items: flex-end;
  flex-direction: column;
  select{
    width: 30%;
  }

}
